* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pl {
  width: 40px;
}

.PL-ctn {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-top: 48px;
  margin-left: 22px;
}

.ctn {
  padding: 32px;
  border-radius: 11px;
  background-color: #222;
  width: 450px;
  height: 550px;
  overflow-y: scroll;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
}

.ctn::-webkit-scrollbar {
  display: none;
}

.search {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border-radius: 8px;
  font-size: 18px;
}

.search-ctn {
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  transition: all 0.1s;
}

.search:focus + .search-icon {
  color: #333;
  font-size: 28px;
}

p {
  color: #f1f1f1;
}
