* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background: linear-gradient(to top left, #01bffd, #2641c2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.75px;
}

.ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 32px;
  width: 400px;
  height: 480px;
  padding: 12px;
  border-radius: 11px;
  background-color: #9eb9d4;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.06);
}

.search-ctn {
  margin-top: 16px;
  position: relative;
  display: flex;
  align-items: center;
}

.search {
  width: 270px;
  border-radius: 16px;
  outline: none;
  border: none;
  padding: 12px;
  padding-left: 44px;
  font-size: 18px;
  font-family: inherit;
  transition: width 0.3s;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.06);
}

.search:focus {
  width: 300px;
}

.search-icon {
  position: absolute;
  margin-left: 12px;
  font-size: 28px;
  color: #222;
}

.first-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 26px;
}

.second-info {
  margin-top: 32px;
  display: flex;
  column-gap: 52px;
}

.weather-icon {
  width: 100px;
}

span {
  font-size: 24px;
  display: flex;
  align-items: center;
  column-gap: 2px;
  margin-bottom: 8px;
}

.icon {
  color: #2641c2;
}
