* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
