* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #753682, #bf2e34);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  display: block;
}

.ctn {
  width: 550px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px 11px 0 11px;
  box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.05);
  position: relative;
}

.quiz-text {
  position: absolute;
  top: 2%;
  left: 2%;
}

.star {
  width: 40px;
}

.point-ctn {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.points {
  color: white;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.que {
  color: white;
  font-size: 18px;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.que-nr-ctn {
  position: absolute;
  bottom: 2%;
  left: 2%;
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.que-nr-ctn p {
  color: #222;
  font-size: 20px;
}

.current-que-nr {
  background-color: #444;
}

.all-que-nr {
  background-color: #222;
}

.answer-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.answer {
  cursor: pointer;
  width: 410px;
  height: 50px;
  font-size: 22px;
  border-radius: 3px;
  background-color: #555;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 14px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.answer p {
  margin-left: 12px;
}

.answer:hover {
  transform: scale(1.05);
}

.question {
  font-size: 22px;
  font-weight: 500;
}

.animation-star {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(0.5);
  opacity: 0;
  pointer-events: none;
}

@keyframes startAnm {
  0% {
    opacity: 1;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(0.5);
  }

  50% {
    opacity: 1;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(0.8);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) scale(0.15);
    right: -18%;
    top: -17%;
    opacity: 0;
  }
}

.animation {
  animation: startAnm 2s;
}
